<wm-page data-ng-controller="testCMTPageController" pagetitle="Test Cmt" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-button class="btn-default" caption="Button" type="button" margin="unset 0.5em" name="button1" on-click="Variables.databaseVariable1.listRecords()"></wm-button>
            <wm-table editmode="inline" name="UserTable1" title="User List" dataset="bind:Variables.HrdbUserData.dataSet" navigation="Basic">
                <wm-table-column binding="userId" caption="User Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true" readonly="true"></wm-table-column>
                <wm-table-column binding="username" caption="Username" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="password" caption="Password" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="role" caption="Role" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="tenantId" caption="Tenant Id" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-table-column>
                <wm-table-action widget-type="button" key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-table-action>
                <wm-table-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-table-row-action>
                <wm-table-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-table-row-action>
            </wm-table>
            <wm-table editmode="inline" name="DepartmentTable1" title="Department List" dataset="bind:Variables.HrdbDepartmentData.dataSet" navigation="Basic" width="80%">
                <wm-table-column binding="deptId" caption="Dept Id" primary-key="true" edit-widget-type="number" type="integer" generator="identity" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="name" caption="Name" edit-widget-type="select" type="string" generator="assigned" show="true" readonly="false" on-change="nameOnChange($event, $scope, rowData)"></wm-table-column>
                <wm-table-column binding="budget" caption="Budget" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="q1" caption="Q1" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="q2" caption="Q2" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="q3" caption="Q3" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="deptCode" caption="Dept Code" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="location" caption="Location" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                <wm-table-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false" widget-type="button"></wm-table-action>
                <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
                <wm-table-row-action key="customRow" display-name="test" show="true" class="btn-transparent" iconclass="wi wi-settings" title="Custom rowActions" action="customRowAction($event)" disabled="false"></wm-table-row-action>
                <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil hidden" title="Edit" action="editRow()" disabled="false"></wm-table-row-action>
            </wm-table>
            <wm-composite name="composite1">
                <wm-label class="col-md-3 control-label" name="label1"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-select name="select1" dataset="bind:Variables.serviceVariable1.dataSet.jobsdata" datafield="All Fields"></wm-select>
                </wm-container>
                <wm-form errormessage="" captionposition="top" title="Form" enctype="application/x-www-form-urlencoded" method="post" dataset="bind:Variables.WMSTUDIOCreateTtt300.dataSet" captionalign="left" name="createTtt300Form1">
                    <wm-layoutgrid columns="1" name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-composite name="composite2">
                                <wm-label class="h4 control-label" caption="Ttt300 Details" name="label2"></wm-label>
                            </wm-composite>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                                <wm-form-field name="Ttt300_aloprtid" readonly="false" displayname="Aloprtid" key="Ttt300.aloprtid" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow3">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                                <wm-form-field name="Ttt300_alopvar" readonly="false" displayname="Alopvar" key="Ttt300.alopvar" type="integer" show="true" widget="number" inputtype="number" placeholder="Enter value" defaultvalue="bind:Variables.serviceVariable1.dataSet.jobsdata"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow4">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                                <wm-form-field name="Ttt300_animonfab" readonly="false" displayname="Animonfab" key="Ttt300.animonfab" type="string" show="true" widget="autocomplete" inputtype="text" placeholder="Enter value" dataset="bind:Variables.serviceVariable1.dataSet.jobsdata"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow5">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                                <wm-form-field name="Ttt300_bdsze" readonly="false" displayname="Bdsze" key="Ttt300.bdsze" type="string" show="true" widget="select" placeholder="Enter value" dataset="bind:Variables.serviceVariable1.dataSet.jobsdata"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow6">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                                <wm-form-field name="Ttt300_bsffabwgt" readonly="false" displayname="Bsffabwgt" key="Ttt300.bsffabwgt" type="integer" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow7">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                                <wm-form-field name="Ttt300_calstn" readonly="false" displayname="Calstn" key="Ttt300.calstn" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow8">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                                <wm-form-field name="Ttt300_ccReldat" readonly="false" displayname="Cc Reldat" key="Ttt300.ccReldat" type="datetime" show="true" widget="datetime" placeholder="Select date time"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow9">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                                <wm-form-field name="Ttt300_ccRelid" readonly="false" displayname="Cc Relid" key="Ttt300.ccRelid" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow10">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                                <wm-form-field name="Ttt300_clientModdat" readonly="false" displayname="Client Moddat" key="Ttt300.clientModdat" type="datetime" show="true" widget="datetime" placeholder="Select date time"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow11">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                                <wm-form-field name="Ttt300_clientModid" readonly="false" displayname="Client Modid" key="Ttt300.clientModid" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow12">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn11">
                                <wm-form-field name="Ttt300_clientSts" readonly="false" displayname="Client Sts" key="Ttt300.clientSts" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow13">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn12">
                                <wm-form-field name="Ttt300_clientStsdat" readonly="false" displayname="Client Stsdat" key="Ttt300.clientStsdat" type="datetime" show="true" widget="datetime" placeholder="Select date time"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow14">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn13">
                                <wm-form-field name="Ttt300_cmbfabreq" readonly="false" displayname="Cmbfabreq" key="Ttt300.cmbfabreq" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow15">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn14">
                                <wm-form-field name="Ttt300_cpi" readonly="false" displayname="Cpi" key="Ttt300.cpi" type="float" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow16">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn15">
                                <wm-form-field name="Ttt300_cutborderwdth" readonly="false" displayname="Cutborderwdth" key="Ttt300.cutborderwdth" type="float" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow17">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn16">
                                <wm-form-field name="Ttt300_cutstr" readonly="false" displayname="Cutstr" key="Ttt300.cutstr" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow18">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn17">
                                <wm-form-field name="Ttt300_dccode" readonly="false" displayname="Dccode" key="Ttt300.dccode" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow19">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn18">
                                <wm-form-field name="Ttt300_enzyme" readonly="false" displayname="Enzyme" key="Ttt300.enzyme" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow20">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn19">
                                <wm-form-field name="Ttt300_fabcareid" readonly="false" displayname="Fabcareid" key="Ttt300.fabcareid" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow21">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn20">
                                <wm-form-field name="Ttt300_fabdcodelist" readonly="false" displayname="Fabdcodelist" key="Ttt300.fabdcodelist" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow22">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn21">
                                <wm-form-field name="Ttt300_fabseq" readonly="false" displayname="Fabseq" key="Ttt300.fabseq" type="byte" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow23">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn22">
                                <wm-form-field name="Ttt300_fabsubcat" readonly="false" displayname="Fabsubcat" key="Ttt300.fabsubcat" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow24">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn23">
                                <wm-form-field name="Ttt300_fabtyp" readonly="false" displayname="Fabtyp" key="Ttt300.fabtyp" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow25">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn24">
                                <wm-form-field name="Ttt300_fdReldat" readonly="false" displayname="Fd Reldat" key="Ttt300.fdReldat" type="datetime" show="true" widget="datetime" placeholder="Select date time"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow26">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn25">
                                <wm-form-field name="Ttt300_fdRelid" readonly="false" displayname="Fd Relid" key="Ttt300.fdRelid" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow27">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn26">
                                <wm-form-field name="Ttt300_finfabwgt" readonly="false" displayname="Finfabwgt" key="Ttt300.finfabwgt" type="integer" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow28">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn27">
                                <wm-form-field name="Ttt300_finishingtempnum" readonly="false" displayname="Finishingtempnum" key="Ttt300.finishingtempnum" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow29">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn28">
                                <wm-form-field name="Ttt300_fnReldat" readonly="false" displayname="Fn Reldat" key="Ttt300.fnReldat" type="datetime" show="true" widget="datetime" placeholder="Select date time"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow30">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn29">
                                <wm-form-field name="Ttt300_fnRelid" readonly="false" displayname="Fn Relid" key="Ttt300.fnRelid" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow31">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn30">
                                <wm-form-field name="Ttt300_heatsetreq" readonly="false" displayname="Heatsetreq" key="Ttt300.heatsetreq" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow32">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn31">
                                <wm-form-field name="Ttt300_inside" readonly="false" displayname="Inside" key="Ttt300.inside" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow33">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn32">
                                <wm-form-field name="Ttt300_intrefno" readonly="false" displayname="Intrefno" key="Ttt300.intrefno" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow34">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn33">
                                <wm-form-field name="Ttt300_intrefnoVer" readonly="false" displayname="Intrefno Ver" key="Ttt300.intrefnoVer" type="integer" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow35">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn34">
                                <wm-form-field name="Ttt300_intrefnoVerModdat" readonly="false" displayname="Intrefno Ver Moddat" key="Ttt300.intrefnoVerModdat" type="datetime" show="true" widget="datetime" placeholder="Select date time"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow36">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn35">
                                <wm-form-field name="Ttt300_intrefnoVerModid" readonly="false" displayname="Intrefno Ver Modid" key="Ttt300.intrefnoVerModid" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow37">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn36">
                                <wm-form-field name="Ttt300_kgcost" readonly="false" displayname="Kgcost" key="Ttt300.kgcost" type="double" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow38">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn37">
                                <wm-form-field name="Ttt300_knReldat" readonly="false" displayname="Kn Reldat" key="Ttt300.knReldat" type="datetime" show="true" widget="datetime" placeholder="Select date time"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow39">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn38">
                                <wm-form-field name="Ttt300_knRelid" readonly="false" displayname="Kn Relid" key="Ttt300.knRelid" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow40">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn39">
                                <wm-form-field name="Ttt300_ldecoroute" readonly="false" displayname="Ldecoroute" key="Ttt300.ldecoroute" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow41">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn40">
                                <wm-form-field name="Ttt300_lstcpyno" readonly="false" displayname="Lstcpyno" key="Ttt300.lstcpyno" type="integer" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow42">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn41">
                                <wm-form-field name="Ttt300_markertyp" readonly="false" displayname="Markertyp" key="Ttt300.markertyp" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow43">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn42">
                                <wm-form-field name="Ttt300_nwasteAop" readonly="false" displayname="Nwaste Aop" key="Ttt300.nwasteAop" type="float" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow44">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn43">
                                <wm-form-field name="Ttt300_opencompactreq" readonly="false" displayname="Opencompactreq" key="Ttt300.opencompactreq" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow45">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn44">
                                <wm-form-field name="Ttt300_ordnum" readonly="false" displayname="Ordnum" key="Ttt300.ordnum" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow46">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn45">
                                <wm-form-field name="Ttt300_outside" readonly="false" displayname="Outside" key="Ttt300.outside" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow47">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn46">
                                <wm-form-field name="Ttt300_refdyejob" readonly="false" displayname="Refdyejob" key="Ttt300.refdyejob" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow48">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn47">
                                <wm-form-field name="Ttt300_refno" readonly="false" displayname="Refno" key="Ttt300.refno" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow49">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn48">
                                <wm-form-field name="Ttt300_reportnum" readonly="false" displayname="Reportnum" key="Ttt300.reportnum" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow50">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn49">
                                <wm-form-field name="Ttt300_residualwdth" readonly="false" displayname="Residualwdth" key="Ttt300.residualwdth" type="float" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow51">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn50">
                                <wm-form-field name="Ttt300_sdecoroute" readonly="false" displayname="Sdecoroute" key="Ttt300.sdecoroute" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow52">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn51">
                                <wm-form-field name="Ttt300_selvreq" readonly="false" displayname="Selvreq" key="Ttt300.selvreq" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow53">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn52">
                                <wm-form-field name="Ttt300_selvwdth" readonly="false" displayname="Selvwdth" key="Ttt300.selvwdth" type="float" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow54">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn53">
                                <wm-form-field name="Ttt300_skewangle" readonly="false" displayname="Skewangle" key="Ttt300.skewangle" type="byte" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow55">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn54">
                                <wm-form-field name="Ttt300_skuno" readonly="false" displayname="Skuno" key="Ttt300.skuno" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow56">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn55">
                                <wm-form-field name="Ttt300_spfinish" readonly="false" displayname="Spfinish" key="Ttt300.spfinish" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow57">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn56">
                                <wm-form-field name="Ttt300_srcprgid" readonly="false" displayname="Srcprgid" key="Ttt300.srcprgid" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow58">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn57">
                                <wm-form-field name="Ttt300_str" readonly="false" displayname="Str" key="Ttt300.str" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow59">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn58">
                                <wm-form-field name="Ttt300_stripeid" readonly="false" displayname="Stripeid" key="Ttt300.stripeid" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow60">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn59">
                                <wm-form-field name="Ttt300_tdwgt" readonly="false" displayname="Tdwgt" key="Ttt300.tdwgt" type="integer" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow61">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn60">
                                <wm-form-field name="Ttt300_tdwid" readonly="false" displayname="Tdwid" key="Ttt300.tdwid" type="float" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow62">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn61">
                                <wm-form-field name="Ttt300_thermobdInd" readonly="false" displayname="Thermobd Ind" key="Ttt300.thermobdInd" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow63">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn62">
                                <wm-form-field name="Ttt300_tightness" readonly="false" displayname="Tightness" key="Ttt300.tightness" type="float" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow64">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn63">
                                <wm-form-field name="Ttt300_wpi" readonly="false" displayname="Wpi" key="Ttt300.wpi" type="float" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-buttongroup horizontalalign="right" class="form-action col-md-12" name="buttongroup1">
                        <wm-button caption="Reset" type="reset" class="btn-secondary" name="button2"></wm-button>
                        <wm-button caption="Cancel" type="button" class="btn-warning" name="button3"></wm-button>
                        <wm-button caption="Save" type="submit" class="btn-primary" name="button4"></wm-button>
                    </wm-buttongroup>
                </wm-form>
            </wm-composite>
            <wm-search name="search1" dataset="bind:Variables.serviceVariable1.dataSet.jobsdata" datafield="All Fields"></wm-search>
            <wm-liveform errormessage="" title="Department Info" iconclass="wi wi-edit" defaultmode="Edit" dataset="bind:Variables.HrdbDepartmentData1.dataSet" captionalign="left" captionposition="top" name="DepartmentLiveForm1">
                <wm-layoutgrid columns="3" name="layoutgrid2">
                    <wm-gridrow name="gridrow65">
                        <wm-gridcolumn columnwidth="4" name="gridcolumn64">
                            <wm-form-field name="name" displayname="Name" show="true" primary-key="false" generator="assigned" key="name" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn65">
                            <wm-form-field name="budget" displayname="Budget" show="true" primary-key="false" generator="assigned" key="budget" type="integer" readonly="false" required="false" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn66">
                            <wm-form-field name="q1" displayname="Q1" show="true" primary-key="false" generator="assigned" key="q1" type="integer" readonly="false" required="false" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow66">
                        <wm-gridcolumn columnwidth="4" name="gridcolumn67">
                            <wm-form-field name="q2" displayname="Q2" show="true" primary-key="false" generator="assigned" key="q2" type="integer" readonly="false" required="false" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn68">
                            <wm-form-field name="q3" displayname="Q3" show="true" primary-key="false" generator="assigned" key="q3" type="integer" readonly="false" required="false" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn69">
                            <wm-form-field name="q4" displayname="Q4" show="true" primary-key="false" generator="assigned" key="q4" type="integer" readonly="false" required="false" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow67">
                        <wm-gridcolumn columnwidth="4" name="gridcolumn70">
                            <wm-form-field name="deptCode" displayname="Dept Code" show="true" primary-key="false" generator="assigned" key="deptCode" type="string" readonly="false" widget="autocomplete" maxchars="20" placeholder="Search" dataset="bind:Variables.serviceVariable1.dataSet.jobsdata"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn71">
                            <wm-form-field name="location" displayname="Location" show="true" primary-key="false" generator="assigned" key="location" type="string" readonly="false" widget="select" inputtype="text" dataset="bind:Variables.serviceVariable1.dataSet.jobsdata"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn72">
                            <wm-form-field name="tenantId" displayname="Tenant Id" show="true" primary-key="false" generator="assigned" key="tenantId" type="integer" readonly="false" required="false" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="deptId" displayname="Dept Id" show="false" primary-key="true" generator="identity" key="deptId" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                <wm-form-action key="reset" display-name="Reset" show="true" class="form-reset btn-secondary" iconclass="wi wi-refresh" title="Reset" action="reset()" disabled="false" type="button" update-mode="true"></wm-form-action>
                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
            </wm-liveform>
        </wm-page-content>
    </wm-content>
</wm-page>