<wm-page data-ng-controller="CheckboxsetPageController" pagetitle="Checkboxset" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-composite name="composite1">
                <wm-label class="col-md-3 control-label" name="label1"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-checkboxset height="auto" name="checkboxset1" dataset="bind:Variables.BrianMercy.dataSet" datafield="All Fields" displayfield="username"></wm-checkboxset>
                </wm-container>
            </wm-composite>
        </wm-page-content>
    </wm-content>
</wm-page>