<wm-page data-ng-controller="GridCheckPageController" pagetitle="Grid Check" name="page1"> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-table editmode="quickedit" title="Vacation List" dataset="bind:Variables.HrdbVacationData.dataSet" navigation="Basic" name="grid1"> 
                <wm-table-column binding="id" caption="Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true" readonly="true"></wm-table-column> 
                <wm-table-column binding="startDate" caption="Start Date" generator="assigned" pcdisplay="true" mobiledisplay="true" type="date"></wm-table-column> 
                <wm-table-column binding="endDate" caption="End Date" generator="assigned" pcdisplay="true" mobiledisplay="true" type="date"></wm-table-column> 
                <wm-table-column binding="tenantId" caption="Tenant Id" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-table-column> 
                <wm-table-column binding="status" caption="Status" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column> 
                <wm-table-column binding="type" caption="Type" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column> 
                <wm-table-column binding="employee.empId" caption="Emp Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true" related-entity-name="Employee" required="true"></wm-table-column> 
                <wm-table-column binding="employee.firstname" caption="Employee Firstname" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" related-entity-name="Employee" readonly="true"></wm-table-column> 
                <wm-table-column binding="employee.lastname" caption="Employee Lastname" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" related-entity-name="Employee" readonly="true"></wm-table-column> 
                <wm-table-column binding="employee.street" caption="Employee Street" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" related-entity-name="Employee" readonly="true"></wm-table-column> 
                <wm-table-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-table-action> 
                <wm-table-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-table-row-action> 
            </wm-table> 
        </wm-page-content> 
    </wm-content> 
</wm-page>