/*To focus row on up/down arrows*/

.wm-app .table-hover > tbody > tr:focus td {
    background-color: #c7c7c7 !important;
}

/*To highlight the row actions on tab in*/

.app-grid .table tbody tr td .row-action-button.btn-transparent:focus {
        opacity: 1;

}
.app-grid .table tbody tr td .row-action-button.btn-transparent:focus i {
    border: 1px solid #9e9e9e;
}

/*To highlight the complete field when clicking tab out*/
.wm-app .app-grid .app-datagrid .cell-editing input:focus {
    border: 2px solid #66afe9;
}