<wm-page data-ng-controller="BrianMercyPageController" pagetitle="Brian Mercy"> 
    <wm-content> 
        <wm-page-content columnwidth="12"> 
        </wm-page-content> 
    </wm-content> 
</wm-page>